

.login-container{
  /* border: 1px solid gray; */
  border-radius: 5px;
  margin: 10% auto;
  padding: 10px 30px;
  width: 50%;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px ; */

}
.sign-up{
  text-decoration: none;
}

.login-btn{
  background-color: #567189;
  border: none;
  color: white;
  letter-spacing: 1px;
}


.username-hint, .password-hint{
  color: red;
  font-size: 10px;
  margin: 0px

}

.fa-icons{
  background-color: #567189;
  color: white;
  border: none;

}
